# ==========================
# Dependencias
# ==========================
**/node_modules/

# ==========================
# Variables de entorno
# ==========================
.env
**/.env

# ==========================
# Builds
# ==========================
dist/
build/

# ==========================
# Logs
# ==========================
*.log
logs/

# ==========================
# Caché
# ==========================
.cache/
.vite/
coverage/

# ==========================
# Archivos del sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Imágenes subidas por usuarios
# ==========================
backend/uploads/*
!backend/uploads/.gitkeep